services:
  app:
    build:
      context: ..
      dockerfile: server/Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ../server/src/db:/app/server/src/db
    environment:
      NODE_ENV: production
