body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../assets/planet-background.jpg) no-repeat center center fixed;
  background-size: cover;
}
